* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

body {
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #222;
  color: white;
  padding: 20px 0;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 0;
  transition: color 0.3s ease;
}

nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #e67e22;
  transition: width 0.3s ease;
}

nav ul li a:hover {
  color: #e67e22;
}

nav ul li a:hover::after {
  width: 100%;
}


.hero {
    background: url('DSCF3894.JPG') no-repeat center center/cover;
    height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 0 20px;
}

.hero-content h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #e67e22;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover{
    background: #cf711f;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.services {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
}

.services h2 {
  margin-bottom: 30px;
  font-size: 28px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.service-card {
  background: #eee;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
